.img img {
  margin: 2rem;
  padding-left: 3rem;
}

@media screen and (max-width: 768px) {
  .img img {
      /* margin: 1rem; */
      padding-left: 2rem;
  }
}

@keyframes example {
  0%   {left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  {left:200px; top:200px;}
  75%  { left:0px; top:200px;}
  100% { left:0px; top:0px;}
}

/* The element to apply the animation to */
.img img:hover{
  /* height:22rem; */
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  scroll-behavior: smooth;
  overflow: hidden;
}

body{
  background: rgb(8, 7, 7);
}
